.chats {
    position: relative;
    height: 400px;
    width: 250px;
}

.chats__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background: #059ee0;
}

.chats__search {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 8px;
}